[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
openpyxl = "*"
streamlit = "*"
python-dotenv = "*"
langdetect = "*"
streamlit-chat = "*"
streamlit-extras = "*"

[dev-packages]

[requires]
python_version = "3.9"
